<h1><%= @meeting.name %></h1>

<p>From <%= @meeting.start.strftime('%A, %B %d at %I:%M') %> to <%= @meeting.finish.strftime('%A, %B %d at %I:%M') %> at <%= @meeting.location %></p>

<table class="meetingList">
    <thead>
        <th>Photo</th>
        <th>Person</th>
        <th>Check 1</th>
        <th>Check 2</th>
        <th>Check 3</th>
        <th>Check 4</th>
        <th>Check 5</th>
        <th>Check 6</th>
    </thead>

    <tbody>
    <% @meeting.checkins.sort_by{|c| [c.user.sn, c.user.gn] }.each do |c| %>
            <tr>
                <td><%= user_photo(c.user) %></td>
                <td><%= c.user.cn %><% if c.user.mobile %><br/><%= c.user.mobile %><% end %><br/><%= c.notes if c.notes %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        <% end %>
    </tbody>
</table>
