<h1><%= @meeting.name %></h1>

<p><%= @meeting.description %></p>

<p>From <%= @meeting.start.strftime('%A, %B %d at %I:%M') %> to <%= @meeting.finish.strftime('%A, %B %d at %I:%M') %> at <%= @meeting.location %></p>

<% if current_mentor || current_role('exec') || current_role('attendance') || current_role('administrator') || !@meeting.verified %>
    <div class="">
    <% if current_user.attending?(@meeting) %>
        <%= link_to "Leave", '#', data: {url: unattend_meeting_path(@meeting, user_dn: current_user.dn.to_s)}, class: 'button warning ajax' %>
<% else %>
    <%= link_to "Check In", '#', data: {url: attend_meeting_path(@meeting, user_dn: current_user.dn.to_s)}, class: 'button success ajax' %>
<% end %>
</div>
            <% end %>

<% if current_mentor || current_role('exec') || current_role('administrator') %>
    <%= link_to 'Edit', edit_meeting_path(@meeting), class: 'button warning' %> 
<h3>Attendance</h3>

<% @meeting.attendance_list.in_groups_of(6) do |r| %>
    <div class="row">
    <% r.each do |m| %>
        <div class="large-2 columns">
        <% if m %>
            <% u = User.find(m) %>
        <%= link_to user_path(u.dn) do %>
            <%= user_photo(u) %>
        <%= u.cn %>
    <% end %>
        <% if current_mentor || current_role('exec') || current_role('attendance') || current_role('administrator') || (!@meeting.verified && current_user.dn == u.dn) %>
            <% if u.attending?(@meeting) %>
        <%= link_to "Leave", '#', data: {url: unattend_meeting_path(@meeting, user_dn: u.dn.to_s)}, class: 'button warning ajax' %>
<% else %>
    <%= link_to "Check In", '#', data: {url: attend_meeting_path(@meeting, user_dn: u.dn.to_s)}, class: 'button success ajax' %>
    <% end %>
    <% end %>
    <% end %>
    </div>
<% end %>
</div>

<% end %>

<% end %>
