<h1><%= @meeting.name %></h1>

<p><%= @meeting.description %></p>

<p>From <%= @meeting.start.strftime('%A, %B %d at %I:%M') %> to <%= @meeting.finish.strftime('%A, %B %d at %I:%M') %> at <%= @meeting.location %></p>

<% if current_user.attending?(@meeting) %>
    <p>You're attending this meeting!</p>
<% end %>

<% if current_mentor || current_role?('exec') || current_role?('attendance') || current_role?('administrator') || !@meeting.verified %>
    <div class="">
        <% if current_user.attending?(@meeting) %>
        <%= link_to "Leave", '#', data: {url: unattend_meeting_path(@meeting, user_dn: current_user.dn.to_s)}, class: 'button warning ajax' %>
<% else %>
    <%= form_tag attend_meeting_path(@meeting, user_dn: current_user.dn.to_s) do %>
        <%= label_tag :notes, "Notes (coming late, leaving early, etc)" %>
        <%= text_field_tag :notes %>
        <%= submit_tag "Check In", class: 'button success' %> 
    <% end %>
<% end %>
</div>
<% end %>

<% if current_user.attending?(@meeting) || current_mentor || current_role?('exec') || current_role?('attendance') || current_role?('administrator') %>
    <h3>Who's Checked In</h3>
    <div>
    <% @meeting.checkins.in_groups_of(6) do |r| %>
        <div class="row">
            <% r.each do |c| %>
                <div class="large-2 columns">
                    <% if c %>
                        <%= link_to user_path(c.user.dn) do %>
                            <%= user_photo(c.user) %>
                            <%= c.user.cn %>
                            <i><%= c.notes %></i>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
<%= link_to "Check In List", list_meeting_path(@meeting), class: 'button primary' %>
<% end %>


<% if current_mentor || current_role?('exec') || current_role?('administrator') %>
    <%= link_to 'Edit Meeting Details', edit_meeting_path(@meeting), class: 'button warning' %> 
<h3>Attendance</h3>

<% (current_mentor || current_role?('exec') || current_role?('administrator') || current_role('attendance') ? User.all : @meeting.attendance_list).sort_by{|a| [a.sn, a.gn]}.in_groups_of(6) do |r| %>
    <div class="row">
    <% r.each do |u| %>
        <div class="large-2 columns">
        <% if u %>
        <%= link_to user_path(u.dn) do %>
            <%= user_photo(u) %>
        <%= u.cn %>
    <% end %>
        <% if current_mentor || current_role?('exec') || current_role?('attendance') || current_role?('administrator') || (!@meeting.verified && current_user == u) %>
            <p>
            <% if u.attending?(@meeting) %>
        <%= link_to "Leave", '#', data: {url: unattend_meeting_path(@meeting, user_dn: u.dn.to_s)}, class: 'button warning ajax' %>
<% else %>
    <%= link_to "Check In", '#', data: {url: attend_meeting_path(@meeting, user_dn: u.dn.to_s)}, class: 'button success ajax' %>
    </p>
    <% end %>
    <% end %>
    <% end %>
    </div>
<% end %>
</div>

<% end %>

<% end %>

