<h1><%= student_status_name @student %></h1>
<% if @student.description %>
    <h4><%= @student.description %></h4>
<% end %>

<div class="row">
    <div class="large-3 columns">
        <%= user_photo @student %>
    </div>
    <div class="large-3 columns">
        <h3>Groups</h3>
        <ul>
            <% @student.groups.each do |group| %>
                <li><%= link_to group.cn, group_path(dn: group) %></li>
        <% end %>
        </ul>

    </div>
    <% if current_mentor || current_role?('administrator') || current_user == @student %>
        <div class="large-3 columns">
        <h3>Parents</h3>
        <ul>
            <% @student.parents.each do |parent| %>
                <li><%= link_to parent.cn, parent_path(dn: parent.dn) %></li>
        <% end %>
        </ul>
        <% if current_user.dn == @student.dn %>
            <%= link_to "Add Parent", new_user_path, class: 'button' %>
        <% end %>
    </div>
<% end %>
    <div class="large-3 columns">
        <h3>Roles</h3>
        <ul>
            <% @student.employeeType(true).each do |r| %>
                <li><%= r %></li>
        <% end %>
        </ul>
    </div>
</div>


<%= render partial: 'users/contact', locals: {user: @student} %>
<% if current_user == @student || current_mentor || current_role?('exec') || current_role?('administrator') || child_of_current_parent(@student) || parent_of_current_child(@student) %>
    <% @student.parents.each do |p| %>
        <%= render partial: 'users/contact', locals: {user: p} %>
    <% end %>
<% end %>
<%= render partial: 'users/accounts', locals: {user: @student} %>
<%= render partial: 'users/password', locals: {user: @student} %>
<%= render partial: 'users/demographics', locals: {user: @student} %>
<%= render partial: 'users/org', locals: {user: @student} %>
