<h2><%= @student.cn %></h2>
<h3>Groups</h3>
<ul>
<% @student.groups.each do |group| %>
    <li><%= link_to group.cn, group_path(dn: group) %></li>
<% end %>
</ul>

<h3>Parents</h3>
<ul>
    <% @student.parents.each do |parent| %>
        <li><%= link_to parent.cn, parent_path(dn: parent.dn) %></li>
    <% end %>
</ul>

<%= render partial: 'users/accounts', locals: {user: @student} %>
<%= render partial: 'users/password', locals: {user: @student} %>
