<% if current_user == user || current_mentor || current_role?('passwords') %>
    <div class="panel">
        <h4>Reset Password</h4>
        <%= form_tag reset_password_path do %>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <%= label_tag :confirm, 'Confirm Password' %>
            <%= password_field_tag :confirm %>
            <%= submit_tag "Reset Password", class: 'button' %>
        <% end %>
    </div>
<% end %>
