<div class="newspost">
    <h1><%= fa_icon news.icon + ' 2x' %> <%= news.title %></h1>
    <h6>Posted by <%= news.user.cn %> at <%= news.created_at %></h6>
    <div class="post-body">
        <%= kr news.content %>
    </div>
</div>

