<h1>Listing news</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Posted by</th>
      <th>Posted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
          <td><%= fa_icon news.icon %> <%= link_to news.title, news %></td>
          <td><%= link_to news.user.cn, user_path(news.user_dn) %></td>
          <td><%= news.created_at %></td>
        <td><%= link_to 'Remove ', news, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News Post', new_news_path, class: 'button' %>
