<h2><%= @group.cn %></h2>

<%= link_to "Send Email", "mailto:#{@group.cn}@lists.boilerinvasion.org", class: 'button success' %>

<% @group.list.in_groups_of(6) do |r| %>
    <div class="row">
    <% r.each do |m| %>
        <div class="large-2 columns">
        <% if m %>
            <% u = User.find(m) %>
        <%= link_to user_path(u.dn) do %>
            <%= user_photo(u) %>
        <%= u.cn %>
    <% end %>
    <% end %>
    </div>
<% end %>
</div>

<% end %>
